{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

</head>
<body>

<div id="header">
    <a href="/" class="logo">
        Мой магазин
    </a>
</div>

<div id="subheader">
    <div class="cart">
        <a href="{% url 'cart:detail_cart' %}">
            <h3>
                {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                {{ total_items }}
                {% else %}
                Корзина пуста
                {% endif %}
                {% endwith %}&nbsp;
                <i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>
            </h3>

        </a>
    </div>
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>