{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product-detail">
    {% include '_inc/get_image.html' %}
    <h1>{{ product.name }}</h1>
    <h2>
        <a href="{{ product.category.get_absolute_url }}">
            {{ product.category }}
        </a>
    </h2>
    <p class="price">${{ product.price }}</p>
    <form action="{% url 'cart:add_cart' product.pk %}" method="POST">
        {{ add_quantity_product_to_cart_form }}
        {% csrf_token %}
        <input type="submit" value="{% trans 'Add to cart' %}">
    </form>
    {{ product.description|linebreaks }}
</div>
{% endblock %}