{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Cart' %}{% endblock %}

{% block content %}
<h1>{% trans 'Your shopping cart' %}</h1>
<table class="cart">
    <thead>
    <tr>
        <th>{% trans 'Photo' %}</th>
        <th>{% trans 'Product' %}</th>
        <th>{% trans 'Quantity' %}</th>
        <th>{% trans 'Delete' %}</th>
        <th>{% trans 'Price for one item' %}</th>
        <th>{% trans 'Total price' %}</th>
    </tr>

    </thead>

    <tbody>
    {% for item in cart %}
    {% with product=item.product %}
    <tr>
        <td>
            {% include '_inc/get_image.html' %}
        </td>
        <td>{{ product.name }}</td>
        <td>
            <form action="{% url 'cart:add_cart' product.pk %}" method="POST">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                {% csrf_token %}
                <input type="submit" value="изменить">
            </form>
        </td>
        <td><a href="{% url 'cart:remove_cart' product.pk %}">{% trans 'Delete' %}</a></td>
        <td class="num">${{ item.price }}</td>
        <td class="num">${{ item.total_price }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    {% with coupon=cart.coupon %}
    {% if coupon %}
    <tr class="subtotal">
        <td>{% trans 'Subtotal (without discount)' %}</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price|floatformat:"2" }}</td>
    </tr>
    <tr>
        <td>"{{ coupon.code }}" - {{coupon.discount}}%</td>
        <td colspan="4"></td>
        <td class="num neg">-{{ cart.get_discount|floatformat:"2" }}</td>
    </tr>
    {% endif %}

    <tr class="total">
        <td>{% trans 'Total price' %}</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price_after_discount|floatformat:"2" }}</td>
    </tr>
    </tbody>
</table>

<!--    recommended products     -->
{% if recommended_products %}
<div class="recommendations cart">
    <h3>{% trans "People who bought this also bought" %}</h3>
    {% for p in recommended_products %}
    <div class="item">
        {% include '_inc/get_image.html' with product=p %}
        <p><a href="{{ p.get_absolute_url}}">{{ p.name }}</a></p>
    </div>
    {% endfor %}
</div>
{% endif %}
<!--    recommended products     -->

<p>{% trans 'Enter promo code. You can only use one promo code per purchase.' %}
    {% if coupon %}({% trans 'You enter' %} "{{ coupon }}"){% endif %}</p>
<form action="{% url 'coupons:apply' %}" method="post">
    {{ coupon_apply_form }}
    <input type="submit" value="{% trans 'Apply' %}">
    {% csrf_token %}
</form>
{% if coupon %}
<p class="text-left">
    <a href="{% url 'coupons:delete' %}" class="button">{% trans 'Delete promo code' %}</a>
</p>
{% endif %}
{% endwith %}

<p class="text-right">
    <a href="{% url 'shop:product_list' %}" class="button light">{% trans 'Back to shopping' %}</a>
    {% if cart|length > 0 %}
    <a href="{% url 'orders:create_order' %}" class="button">{% trans 'Checkout' %}</a>
    {% endif %}
</p>
<br>
{% endblock %}