{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block content %}
<h1>Ваша корзина покупок</h1>
<table class="cart">
    <thead>
    <tr>
        <th>Фото</th>
        <th>Продукт</th>
        <th>Количетво</th>
        <th>Удалить</th>
        <th>Цена одного товара</th>
        <th>Цена</th>
    </tr>

    </thead>

    <tbody>
    {% for item in cart %}
    {% with product=item.product %}
    <tr>
        <td>
            {% include '_inc/get_image.html' %}
        </td>
        <td>{{ product.name }}</td>
        <td>
            <form action="{% url 'cart:add_cart' product.pk%}" method="POST">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                {% csrf_token %}
                <input type="submit" value="изменить">
            </form>
        </td>
        <td><a href="{% url 'cart:remove_cart' product.pk %}">Удалить</a></td>
        <td class="num">${{ item.price }}</td>
        <td class="num">${{ item.total_price }}</td>
    </tr>
    {% endwith %}
    {% endfor %}

    {% with coupon=cart.coupon %}
    {% if coupon %}
    <tr class="subtotal">
        <td>Промежуточный итог (без скидки)</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price|floatformat:"2" }}</td>
    </tr>
    <tr>
        <td>"{{ coupon.code }}" - {{coupon.discount}}%</td>
        <td colspan="4"></td>
        <td class="num neg">-{{ cart.get_discount|floatformat:"2" }}</td>
    </tr>
    {% endif %}
    {% endwith %}

    <tr class="total">
        <td>Общее</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price_after_discount|floatformat:"2" }}</td>
    </tr>
    </tbody>
</table>

<p>Введите купон. За одну покупку вы можете использовать только один купон.</p>
<form action="{% url 'coupons:apply' %}" method="post">
    {{ coupon_apply_form }}
    <input type="submit" value="Применить">
    {% csrf_token %}
</form>

<p class="text-right">
    <a href="{% url 'shop:product_list' %}" class="button light">Продолжить покупки</a>
    {% if cart|length > 0 %}
    <a href="{% url 'orders:create_order' %}" class="button">Оформить</a>
    {% endif %}
</p>
<br>
{% endblock %}